networkx==3.2 ; python_version >= "3.9" and python_version < "3.13"
numpy==1.26.1 ; python_version >= "3.9" and python_version < "3.13"
scipy==1.11.3 ; python_version >= "3.9" and python_version < "3.13"
